<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Alina's Simple Server Page</title>
    <style>
    body {
        margin: 50px;
        font-family: helvetica;
        background-color: orange;
        color: white;
      }
      h1, p {
        text-align: center;
      }
      img {
        display: block;
        margin: 10px auto;
      }
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: yellow;
      }
    </style>
  </head>
  <body>
    <h1>Sorry, the page you want cannot be found</h1>
    <p>Everything will be ok.</p>
    <img src="marniesleep.jpg">
  </body>
</html>
