<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Alina's Simple Server Page</title>
    <style>
      body {
        margin: 50px;
        font-family: helvetica;
        background-color: orange;
        color: white;
      }
      h1, h3, p {
        text-align: center;
      }
      img {
        display: block;
        margin: 10px auto;
      }
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: yellow;
      }
    </style>
  </head>
  <body>
    <p>Alina's Server Page</p>
    <h1>You've been served.</h1>
    <img src="marnie.jpg">
    <h3>We've all been working hard.</h3>
    <p>Serve yourself to <a href="http://www.zombo.com" target="_blank">this magical place</a>.<br>Make sure your sound is on!</p>
  </body>
</html>
